/*-------- Global --------*/
* {
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    position: relative;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#align {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 20px;
      
}

#hooked {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
html {
    font-family: circular std, sans-serif;
    font-weight: 100;
}

body {
    width: 80%;
    margin: auto;
    background-image: linear-gradient(white,);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: #17191A;
}
h2 {
    font-size: 35px;
    font-weight: 400;
    color: rgb(226, 146, 146);
}

h5 {
    font-size: 20px;
    margin-top: 10px;
    color: #17191A;
}

p {
    color: rgb(115, 119, 121);
    opacity: 0.8;
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}


/*-------- Nav --------*/
.nav {
    display: flex;
    align-items: center;
    height: 90px;

}

.contactMe, .navIcons {
    flex: 1;
}

.navIcons {
    text-align: right;
    margin-right: 30px;
}

.navIcons a, .contactMe a, .contactMe img {
    vertical-align: middle;
}


.navIcons a {
    margin-left: 50px;
    color: rgb(83, 82, 82);
    text-decoration: none;
    
}

.navIcons a:hover {
    color: rgb(202, 152, 152);
    text-decoration: none;
}

.contactMe a {
    color: #027BFF;
    text-decoration: none;
}

.contactMe img {
    margin-right: 10px;
    margin-left: 25px;
}




/*-------- Footer --------*/

.footer {
    height: 100px;
    margin-top: 0em;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 320px;
    padding-bottom: 3em;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.footer a {
    color: rgb(168, 165, 165);
    text-decoration: none;
}

.footer p {
    color: rgb(168, 165, 165);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecebeb;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a:hover{
    background-color: rgb(216, 160, 160);
    color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}